{% extends "Base.html" %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',filename='message.js') }}"></script>
<script src="{{ url_for('static',filename='PDFKeyWordAutoHighlight.js') }}"></script>
<script src="{{ url_for('static',filename='echarts.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap-table-zh-CN.min.js') }}"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for("static",filename="PDFKeyWordAutoHighlight.css") }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for("static",filename="bootstrap-table.min.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block my_content %}
<div class="container">

    <div class="row">
        <div class="panel panel-primary col-md-6" style="height:130px; width:45%">
            <!-- Default panel contents -->
            <h4 id="PositiveSentiment" style="text-align: left; "><b>上传功能：</b></h4>
            <div class="form-group col-md-12">
                <form action="PdfUpload" enctype='multipart/form-data' method='POST'>
                    <div class="form-group col-md-5" style="padding:0">
                        <input type="file" name="file" accept=".pdf">
                    </div>
                    <div class="form-group col-md-3" style="padding:0">
                        <input type="submit" class="btn btn-info btn-default" value="上传">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary col-md-6" style="height:130px; width:55%">
            <!-- Default panel contents -->
            <h4 id="PositiveSentiment" style="text-align: left; "><b>高亮功能：</b></h4>
            <h6 id="PositiveSentiment" style="text-align: left; "><b>输入关键字时，会高亮关键字相关信息</b></h6>
            <h6 id="PositiveSentiment" style="text-align: left; "><b>不输入关键字时，会自动高亮关键信息</b></h6>
            <div class='input-group col-md-12'>
                <label class="control-label" for="KeyWordTitle">关键字:</label>
                <input name="KeyWord" id="KeyWord" class="myinput" value="" style="padding:0"></input>
                <input type="submit" class="btn btn-success" value="开启高亮" onclick="ProcessPdf()">
                <input type="submit" class="btn btn-info btn-default" value="取消高亮" onclick="ViewHtml()">
                <input type="submit" class="btn btn-info btn-default" value="查看PDF" onclick="ViewPDF()">				
                <input type="submit" class="btn btn-danger" value="下载文件" onclick="DownloadPdf()">
            </div>
        </div>
    </div>
    <div class="form-group col-md-12">
        <iframe id="Preview" height="500" width="100%" src="{{ url_for('static',filename='Blank.html') }}">
        </iframe>
    </div>
</div>
{% endblock %}